<div class="navigation-wrapper">
    <div class="left-column">
        <div class="icon-mr">
            <i class="fas fa-phone-volume icon"></i>
        </div>
        <div class="header-styles">
            <div>555-555-5555</div>
            <div>10 AM - MIDNIGHT</div>
        </div>
    </div>

    <div class="center-column">
        <div class="logo">
            <img src="assets/kayak-logo.jpg" alt="logo" />
        </div>
        <div class="link-wrapper">
            <div class="nav-link">
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Home</a>
            </div>
            <div class="nav-link">
                <a href="#" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">About</a>
            </div>

            <div class="nav-link">
                <a routerLink="/adventure" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true}">Adventures</a>
            </div>

            <div class="nav-link">
                <a href="#" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Contact</a>
            </div>
        </div>
    </div>

    <div class="right-column">
        <div class="header-styles">
            <div>123 Main Street</div>
            <div>Salt Lake City, UT, 84101</div>
        </div>
        <div class="icon-ml">
            <i class="fas fa-map-marker-alt icon"></i>
        </div>
    </div>
</div>